body {
    height: 100vh;
    margin: 0 0 0 0;
}

/* All div styles */
.header {
    background-color: #1F2937;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.header-logo-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 10%;
    margin-left: 10%;
}

/* All font styles */
.hero-secondary-text {
    font-size: 18px;
    color: #e5e7eb;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 0px;
}

.header-logo-text {
    font-size: 24px;
    color: #f9faf8;
    font-weight: 800;
    font-family: Arial, Helvetica, sans-serif;
}

.hero-main-text {
    font-size: 48px;
    font-weight: bold;
    color: #f9faf8;
    margin-bottom: 0px;
    margin-top: 0px;
    font-family: Arial, Helvetica, sans-serif;
    overflow-y:auto;
    max-height: 3.2em; /* Approximately two lines of text */
    line-height: 1.6em; /* Set line height to control spacing */
}

.information-header-text {
    font-size: 36px;
    color: #1F2937;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

.quote-text {
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
    font-family: Arial, Helvetica, sans-serif;
}

#thor-signature {
    /* TODO duplicated information header text with slight changes */
    font-size: 18px;
    color: #1F2937;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

ul, li {
    list-style-type: none;
    display: inline;
    margin-right: 5px;
    /* TODO: this is duplication */
    font-size: 18px;
    color: #e5e7eb;
    font-family: Arial, Helvetica, sans-serif;
}

.sign-up-section {
    display: flex;
    margin-right: 10%;
    margin-left: 10%;
    justify-content: space-between;
    margin-bottom: 10%;
    margin-top: 5%;
}

.sign-up-section-description-and-button {
    margin-right: 5%;
}

#doge-image {
 min-width: 66%;
 height: 400px;
}

button {
 background-color: #3882F6;
 border-radius: 10px;
 border-style:  none;
 width: 120px;
 height: 41px;
 font-weight: bold;
 padding: 10px;
}

.box-image-items-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 9%;
}

.box-image-item {
    width: 20%;
    height: 20%;
}

.box-image-item img {
    width: 300px;
    height: 300px;
    border-radius: 20px;
    border-style: solid;
    border-color: #3882F6;
    border-width: 5px;
}

/* inherit hero secondary text style with a slighlty different color */
.box-image-item p {
    color: #1F2937;
    text-align: center;
}

.some-random-info-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.quote-section {
    padding-right: 20%;
    padding-left: 20%;
    padding-top: 8%;
    padding-bottom: 8%;
    background-color: #E5E7EB;
}

#thor-signature {
    text-align: right;
}

.call-to-action-section {
 background-color: #3882F6;
 margin-right: 15%;
 margin-left: 15%;
 padding: 20px;
 display: flex;
 justify-content: space-around;
 flex-flow: row wrap;
 align-items: center;
 margin-bottom: 5%;
 margin-top: 5%;
 border-radius: 10px;
}

/* change the button in the call to action section only */
.call-to-action-section button {
    border: 2px solid white;
    max-height: auto;
}

/* inherit header logo but get rid of that margin in the call to action section */
.call-to-action-section .header-logo-text {
    margin-bottom: 0px;
}

.footer {
    display: flex; 
    justify-content: center;
    align-items: center;
    background-color: #1F2937;
    height: 100px;
}


